<p id="notice"><%= notice %></p>

<p>
  <b>Product Title:</b>
  <%= @product.product_title %>
</p>

<p>
  <b>Sku:</b>
  <%= @product.sku %>
</p>

<p>
  <b>In Stock:</b>
  <%= @product.in_stock %>
</p>

<p>
  <b>Net price:</b>
  <%= @product.net_price %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
