<h1>I am the cart</h1>


<table class="table table-hover">
  <thead>
  <tr>
    <th>Amount</th>
    <th>Units</th>
    <th>Name</th>
    <th>Type</th>
    <th>Remove</th>
  </tr>
  </thead>
  <% current_cart.each do |cart_item| %>
      <tbody>
      <tr>
        <td><%= cart_item[:amount] %></td>
        <td><%= cart_item[:units] %></td>
        <td><%= cart_item.title %></td>
        <td><%= cart_item.class %></td>
        <td><%= add_or_remove_cart_link(cart_item) %></td>
      </tr>
  <% end %>

  </tbody>
</table>